@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

.slick-dots li{
  background: white ;
  width: 15px !important;
  height: 15px !important;
}
.testimonials .slick-dots li.slick-active{
  background: transparent !important;
}
.slider .social-icon a {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-linka {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.navbar .navbar-nav .nav-linka,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}

.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}

section.testimonials {
  overflow: hidden;
}

.contact-page .pages-header {
  overflow: hidden;
}

.CircularProgressbar {
  width: 110px;
  height: 110px;
}

.slick-prev,
.slick-next {
  display: none !important;
}
.slick-track{
  display: flex !important;
  gap: 25px !important;
}

body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}

.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}

.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}

.topnav .menu-icon {
  display: flex;
}

@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }

  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}

section.next-prog {
  overflow: hidden;
}

.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}

section.team.section-padding {
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: white !important;
}

/* .swiper-pagination-bullet-active{
border: 1px solid white !important;
background-color: transparent !important;
width: 10px !important;
height: 10px !important;
} */
.swiper-wrapper {
  padding-bottom: 2rem !important;
}

.absolute-component {
  position: relative;
}

.absolute-component img {
  display: block;
  /* Ensure the image is a block element */
  max-width: 100%;
  /* Make sure the image doesn't exceed its container */
}

.absolute-component p {
  position: absolute;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 10px;
  color: white;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.belief-component {
  position: relative;
}

.belief-component img {
  display: block;
  /* Ensure the image is a block element */
  max-width: 100%;
  /* Make sure the image doesn't exceed its container */
}

.belief-component p {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 2px;
  color: white;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  padding: 10px;
}



/* added Code */

/* ------------------------------------------- Menu - Default - Menu(MainMenu) - MegaMenu - MenuBanner - Tips - MobileMenu - MobileMenuWrapper - MobileMenuContainer - MobileMenu - MobileMenuOverlay - MobileMenuCloseButton - CategoryMenu ------------------------------------------- */
.menu {
  display: flex;
  align-items: center;
}

.menu a {
  display: inline-block;
}

.menu .menu-title {
  margin-bottom: 1rem;
}

.menu li {
  position: relative;
}

.menu li a {
  padding: 0.7rem 0 0.7rem 1rem;
}

.menu li>ul,
.menu li .megamenu {
  position: absolute;
  top: -9999px;
  left: 100%;
  margin: 0;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, -10px, 0);
}

.menu li>ul {
  min-width: 22.6rem;
}

.menu li>ul li {
  padding: 0 2rem;
}

.menu li:hover>ul,
.menu .show>ul,
.menu li:hover .megamenu,
.menu .show .megamenu {
  visibility: visible;
  opacity: 1;
  top: -2rem;
  transform: translate3d(0, 0, 0);
}

.menu>li:last-child {
  margin-right: 0;
}

.menu>li>a {
  position: relative;
}

.menu>li>a::after {
  margin-left: 0.8rem;
}

.menu>li>ul,
.menu>li .megamenu {
  left: -1.9rem;
}

.menu>li:hover>ul,
.menu>li.show>ul,
.menu>li:hover .megamenu,
.menu>li.show .megamenu {
  top: 100%;
  z-index: 1201;
}

.menu .submenu>a {
  position: relative;
  display: block;
}

.menu>.submenu>a {
  z-index: 1001;
}

.menu>.submenu>a::after {
  position: static;
  content: '\f078';
  margin-top: 0;
}

.menu.no-arrow>li>a::after {
  content: none;
}

.submenu>a::after {
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  right: 0.5rem;
  top: 50%;
  line-height: 0;
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 1.1rem;
  color: inherit;
  content: '\f054';
}

.vertical-menu {
  display: block;
  min-width: 12rem;
}

.vertical-menu>li {
  margin-right: 0;
  padding: 0 2rem;
}

.vertical-menu>li>ul,
.vertical-menu>li .megamenu {
  transform: translate3d(-15px, 0, 0);
}

.vertical-menu>li>a {
  display: inline-block;
}

.vertical-menu>li>a::after {
  content: none;
}

.vertical-menu>li:hover>ul,
.vertical-menu>li.show>ul,
.vertical-menu>li:hover .megamenu,
.vertical-menu>li.show .megamenu {
  left: 100%;
  top: -1rem;
}

.vertical-menu>.submenu::after {
  border: 11px solid transparent;
  border-right: 11px solid #fff;
}

.vertical-menu>.submenu:hover::after,
.vertical-menu>.submenu.show::after {
  top: 50%;
  left: calc(100% - 20px);
  transform: translate3d(0, -50%, 0);
}

.vertical-menu>.submenu>a::after {
  position: absolute;
  line-height: 0;
  content: '\f054';
}

.vertical-menu.no-arrow>li {
  display: flex;
}

.vertical-menu.no-arrow>li>a::after {
  content: none;
}

.toggle-menu {
  display: block;
}

.toggle-menu>li {
  margin-right: 0;
}

.toggle-menu .submenu::after,
.toggle-menu .submenu>a::after {
  content: none;
}

.toggle-menu .submenu li {
  padding: 0 0.5rem;
}

.toggle-menu li>ul {
  display: none;
  position: static;
  visibility: visible;
  opacity: 1;
  transform: none;
  background: transparent;
  box-shadow: none;
}

.toggle-btn {
  display: block;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

.toggle-btn:not(.parse-content) {
  position: absolute;
}

.toggle-btn:not(.parse-content)::before {
  content: "\f054";
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  line-height: 1;
  transition: transform 0.5s;
}

.toggle-btn.expanded:not(.parse-content)::before {
  transform: rotate(630deg);
}

.toggle-btn.collapsed:not(.parse-content)::before {
  transform: rotate(0deg);
}

.toggle-btn.expanding:not(.parse-content)::before {
  transform: rotate(630deg);
}

.menu-active-underline>li>a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  border: 1px solid;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

.menu-active-underline>li.active>a,
.menu-active-underline>li:hover>a {
  color: inherit;
}

.menu-active-underline>li.active>a::before,
.menu-active-underline>li:hover>a::before {
  transform-origin: left center;
  transform: scale(1, 1);
}

.megamenu {
  display: flex;
}

.megamenu ul {
  padding: 0;
}

.megamenu .row {
  flex: 1;
  padding: 0 1rem;
}

.megamenu .row>* {
  padding: 1.8rem 1rem 0.8rem;
}

.megamenu .menu-banner {
  padding: 0;
  overflow: hidden;
}

.megamenu .menu-banner figure {
  height: 100%;
}

.megamenu .menu-banner img {
  height: 100%;
  object-fit: cover;
}

.megamenu .menu-banner .btn-link:hover {
  color: red;
}

.menu-banner1 .banner-content {
  left: 9%;
}

.menu-banner1 .banner-title,
.menu-banner1 .banner-subtitle {
  font-size: 3.6rem;
}

.menu-banner1 .banner-subtitle {
  margin-bottom: 0.4rem;
}

.menu-banner1 .banner-title {
  margin-bottom: 1.8rem;
  padding-left: 1.2rem;
  position: relative;
}

.menu-banner1 .banner-title span {
  display: inline-block;
  position: absolute;
  left: -0.9rem;
  top: 50%;
  font-size: 1.2rem;
  line-height: 1;
  transform: rotateZ(-90deg) translateX(0.6rem);
  letter-spacing: -0.1em;
}

.menu-banner2 .banner-content {
  bottom: 10%;
}

.menu-banner2 .banner-title {
  margin-bottom: 0.6rem;
  font-size: 2.6rem;
}

.menu-banner2 .banner-subtitle {
  font-size: 1.6rem;
}

.tip {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 7px;
}

.mobile-menu-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  transition: visibility 0.4s;
}

.mobile-menu-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
  transform: translateX(-get(mobile-menu, container, max-width));
  transition: transform 0.4s;
}

.mobile-menu-container .input-wrapper {
  display: flex;
  margin-bottom: 0.6rem;
  height: 4rem;
}

.mobile-menu-container .input-wrapper .form-control {
  min-height: 4rem;
  color: #7a8088;
  border: 1px solid;
  border-right: 0;
  background-color: transparent;
}

.mobile-menu-container .input-wrapper .btn-search {
  padding: 0;
  width: 4rem;
  background-color: red;
  border-color: red;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3px;
}

.mobile-menu-container .input-wrapper .btn-search i {
  margin: 0 0 0.5rem;
  font-size: inherit;
}

.mobile-menu-container .mobile-menu {
  margin-bottom: 0.5rem;
}

.mobile-menu-container .tab {
  margin-top: 3rem;
}

.mobile-menu-container .tab-content {
  background-color: transparent;
}

.mobile-menu-container .nav {
  border-width: 2px;
}

.mobile-menu-container .nav-link {
  margin-bottom: -2px;
  color: #fff;
  font-size: 13px;
  padding: 10px;
}

.mobile-menu-container .tab-pane {
  padding-top: 10px;
}

.mobile-menu-container .nav-item:hover .nav-link {
  color: #fff;
  border-color: transparent;
}

.mobile-menu-container .nav-item.show .nav-link,
.mobile-menu-container .nav-item .nav-link.active {
  color: red;
  border-color: red;
}

.mobile-menu-container .nav-item+.nav-item {
  margin-left: 1px;
}

.mobile-menu-container.scrollable::-webkit-scrollbar-thumb,
.mobile-menu-container .sidebar-content::-webkit-scrollbar-thumb {
  margin-right: 2px;
  background: rgba(255, 255, 255, .1);
  border-radius: 7px;
  cursor: pointer;
}

.mobile-menu {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

.mobile-menu ul {
  width: 100%;
  overflow: hidden;
}

.mobile-menu>li:first-child {
  padding-top: 0.5rem;
}

.mobile-menu>li:last-child {
  padding-bottom: 0.5rem;
}

.mobile-menu li a {
  display: block;
  position: relative;
}

.mobile-menu li i {
  display: inline-block;
  margin-bottom: 1px;
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 0;
  vertical-align: middle;
}

.mobile-menu li li a {
  padding-left: 2.4rem;
}

.mobile-menu li li li a {
  padding-left: 3.6rem;
}

.mobile-menu li:not(:last-child) {
  border-bottom: 1px solid #2e3237;
}

.mobile-menu-title {
  margin-bottom: 0.5rem;
}

.mobile-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s;
}

.mobile-menu-close {
  position: fixed;
  left: calc(100vw - 50px);
  top: 25px;
  z-index: 10001;
  transition: opacity 0.3s;
  opacity: 0;
}

.mobile-menu-close i {
  font-size: 2.8rem;
  color: #e1e1e1;
}

.mmenu-anim {
  transform: translateY(30%);
}

.mmenu-anim,
.mmenu-anim>li {
  transition: transform 0.4s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
}

.mmenu-anim>li:nth-child(0) {
  opacity: 0;
  transform: translateY(0px);
}

.mmenu-anim>li:nth-child(1) {
  opacity: 0;
  transform: translateY(50px);
}

.mmenu-anim>li:nth-child(2) {
  opacity: 0;
  transform: translateY(100px);
}

.mmenu-anim>li:nth-child(3) {
  opacity: 0;
  transform: translateY(150px);
}

.mmenu-anim>li:nth-child(4) {
  opacity: 0;
  transform: translateY(200px);
}

.mmenu-anim>li:nth-child(5) {
  opacity: 0;
  transform: translateY(250px);
}

.mmenu-anim>li:nth-child(6) {
  opacity: 0;
  transform: translateY(300px);
}

.mmenu-anim>li:nth-child(7) {
  opacity: 0;
  transform: translateY(350px);
}

.mmenu-anim>li:nth-child(8) {
  opacity: 0;
  transform: translateY(400px);
}

.mmenu-anim>li:nth-child(9) {
  opacity: 0;
  transform: translateY(450px);
}

.mmenu-anim>li:nth-child(10) {
  opacity: 0;
  transform: translateY(500px);
}

.mmenu-anim>li:nth-child(11) {
  opacity: 0;
  transform: translateY(550px);
}

.mmenu-anim>li:nth-child(12) {
  opacity: 0;
  transform: translateY(600px);
}

.mmenu-active {
  overflow: hidden;
}

.mmenu-active .mmenu-anim>li,
.mmenu-active .mmenu-anim {
  opacity: 1;
  transform: translateY(0);
}

.mmenu-active .page-wrapper {
  margin-left: get(mobile-menu, container, max-width);
  margin-right: -get(mobile-menu, container, max-width) - get(base, page-wrapper, margin-left);
}

.mmenu-active .mobile-menu-wrapper {
  visibility: visible;
}

.mmenu-active .mobile-menu-container {
  transform: translateX(0);
}

.mmenu-active .mobile-menu-close {
  opacity: 1;
}

.category-menu .menu-body:last-child li:last-child {
  border: 0;
}

.category-menu i {
  vertical-align: middle;
  line-height: 0;
}

.category-menu>li>a {
  display: block;
}

.category-menu li:hover>a:not(.menu-title) i {
  color: inherit;
}

.category-menu .submenu>a::after {
  font-size: 1rem;
}

.category-menu .submenu .megamenu {
  min-width: 68.5rem;
  padding: 0 0 0 0.9rem;
}

.category-menu .submenu .megamenu>li {
  padding: 0 1rem;
  flex: 1;
}

.category-menu .submenu .megamenu>li:last-child {
  padding-right: 0;
  flex: none;
}

.category-menu .submenu .megamenu .menu-title {
  padding: 2.7rem 0rem 0.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.category-menu .submenu .megamenu .divider {
  height: 1px;
  width: 100%;
  margin: 0;
}

.category-menu .submenu .megamenu ul {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  font-size: 1.3rem;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
  min-width: auto;
  z-index: auto;
  transform: none;
}

.category-menu .submenu .megamenu ul li {
  padding: 0;
  line-height: 1.2;
}

.category-menu .submenu .megamenu ul li a {
  padding: 0.7rem 0;
}

.category-menu .submenu .megamenu .menu-banner .banner-content {
  left: 3rem;
}

.category-menu .submenu .megamenu .menu-banner .banner-subtitle {
  font-size: 1.4rem;
}

.category-menu .submenu .megamenu .menu-banner .banner-title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}

.category-menu .submenu .megamenu .menu-banner .btn-md {
  padding: 0.7em 1.41em 0.7em 1.41em;
}

.category-menu .submenu .megamenu .menu-banner5 .banner-content {
  top: 2.6rem;
}

.category-menu .submenu .megamenu .menu-banner5 .banner-subtitle {
  margin-bottom: 1.1rem;
}

.category-menu .submenu .megamenu .menu-banner5 .banner-title {
  line-height: 1.25;
}

.category-menu .submenu .megamenu.type2 {
  display: block;
  min-width: 88rem;
  padding: 0 1rem 2rem;
}

.category-menu .submenu .megamenu.type2 .menu-title {
  padding-top: 1.5rem;
}

.category-menu .submenu .megamenu.type2 figure {
  text-align: center;
}

ul.metismenu-container:first-child {
  display: flex;
}

.gradient-text {
  font-size: 72px;
  font-weight: bold;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-clip: text;
  color: transparent;
  background-origin: border-box;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.custom-pagination {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.custom-dot {
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background: white !important;
  width: 10px !important;
  height: 10px !important;
}

.custom-dot.active {
  border: 1px solid white !important;
  background-color: transparent !important;
  width: 10px !important;
  height: 10px !important;
}

.slick-slide img {
  width: 70px !important;
  height: 70px !important;
}

.aboutUs-bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.image-text {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat Regular';
  padding: 0rem 1rem 0 1rem;
  text-align: center;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-left {
  left: -2rem;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  bottom: -2rem;
}

.top-center {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  bottom: -2rem;
}

.text-overImage {
  left: 1rem;
  font-size: 26px;
  font-weight: unset;
  line-height: 32px;
  bottom: 1rem;
}

.top-right {
  right: -2rem;
  text-align: right;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  bottom: -2rem;
}

.z1 {
  z-index: -1;
}

.popup-arrow {
  display: none;
}

/* Add this to your CSS or SCSS file */
.overflow-hidden {
  overflow: hidden;
}

/* components/Timeline.module.css */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}

.timeline-name {
  position: relative;
  top: auto;
  bottom: -35px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
}

.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}

.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-image: url(/eventCircles.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #bbdefb; */
  /* border: 3px solid #ffffff; */
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}

.timeline .timeline-item .timeline-badge.primary {
  background-color: black;
}

.timeline .timeline-item .timeline-badge.info {
  background-color: black;
}

.timeline .timeline-item .timeline-badge.success {
  background-color: black;
}

.timeline .timeline-item .timeline-badge.warning {
  background-color: black;
}

.timeline .timeline-item .timeline-badge.danger {
  background-color: black;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  /* border: 1px solid #c0c0c0;
  background: #ffffff; */
  border-radius: 2px;
  /* padding: 10px; */
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  font-size: 25px;
  font-family: 'Montserrat Bold';
  color: white
}

.timeline .timeline-item .timeline-panel .timeline-body>p,
.timeline .timeline-item .timeline-panel .timeline-body>ul {
  margin-bottom: 0;
  font-family: 'Montserrat Regular';
  font-size: 12px;
  color: white;
  min-height: 90px;
}

.timeline .timeline-item .timeline-panel .timeline-body>p+p {
  margin-top: 0px;
}

.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}

.timeline-horizontal:before {
  height: 10px;
  top: auto;
  bottom: 22px;
  left: 56px;
  right: 0;
  width: 83%;
  margin-bottom: 20px;
}

.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 195px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}

.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  /* margin-bottom: 20px; */
}

.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  display: none;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}

.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}

.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 24px;
}
.text-blue p{
  color: white !important;
}
.color-blue p{
  color: #0090DF;
}
.borderTop{
  border-top: 1px solid;
}


.parallelogram-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transform: skew(-20deg);
}

.parallelogram-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  transform: skew(20deg);
  transform-origin: bottom right;
  z-index: -1;
}

.diagonal-button-container {
  -ms-transform: skewX(40deg); /* IE 9 */
  -webkit-transform: skewX(40deg); /* Safari */
  transform: skewX(40deg);
  background-color: #3498db;
}
.diagonal-button {
  -ms-transform: skewX(-40deg); /* IE 9 */
  -webkit-transform: skewX(-40deg); /* Safari */
  transform: skewX(-40deg);
  padding: 10px;
}
.img_start{
  z-index: 555;
}
/* .img_start {
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 3px;
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
} */
.img__description p {
  /* display: none; */
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  position: relative;
  z-index: 77;
  color: #FFFFFF;
  margin: 0 0 3px;
  text-align: left;
}
.contact_block .img__description a {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 3px;
  text-align: left;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 45px;
  padding-left: 95px;
  height: 450px;
  flex-direction: column;
  background: linear-gradient(rgb(0, 144, 223), #11141b);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.contact_block:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.btn-classes{
  background-color: #0090DF;
  border: 0px solid transparent;
  padding: 8px 15px;
  margin-top: 1rem;
  border-radius: 40px;
}
.img-class{
  width: 430px;
  height: 285px;
}
.class-padding{
  padding-bottom: 90px;
}
.txt-class p{
  font-size: 21px;
}
.react-tel-input .flag-dropdown{
  background-color: transparent !important;
  border: 0px solid transparent !important;
  left: 0 !important;
}
.react-tel-input .form-control{
  width: 92% !important;
  margin-left: 1.5rem !important;
  color: white;
}
/* input:-internal-autofill-selected{
  background: black !important;
} */
.inputInfo:focus{
  background-color: black !important;
}
.react-tel-input .form-control:focus{
  background-color: transparent !important;
}
.flag-dropdown:hover{
  background-color: transparent !important;
}
.selected-flag{
  background-color: transparent !important;
}
.selected-flag:hover{
  background-color: transparent !important;
}
.react-tel-input .country-list .country-name{
  color: black !important;
}
.otpTimer div{
  font-family: "Montserrat Regular" !important;
}
button{
  font-family: "Montserrat Bold" !important;
}
.w-full{
  width: 100%;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-gray-500 {
  border-color: rgb(107 114 128) !important;
}
.bg-\[transparent\], .bg-transparent {
  background-color: transparent;
}
.input-search {
  color: #fff!important;
}
.h-10 {
  height: 2.5rem;
}
.grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}
.react-tabs__tab--selected {
  background: #fff!important;
  border: 1px solid grey!important;
  color: #009fe3!important;
  padding: 10px!important;
  border-radius: 5px!important;
}
.text-colorblue{
  color: #009fe3;
}
.notSelected {
  color: #707070!important;
  padding: 10px;
  font-family: "Montserrat Regular";
}
.react-tabs__tab--selected p {
  color: #009fe3 !important;
  font-family: "Montserrat Bold";
}
.tabs-container {
  background-color: hsla(0,0%,56%,.2);
}
.ReactFlagsSelect-module_selectOptions__3LNBJ {
  background: #fff!important;
  border: 0 solid transparent!important;
  color: #000!important;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  color: #fff!important;
  padding: 0!important;
  border: 0 solid transparent!important;
  display: flex!important;
  flex-direction: row-reverse!important;
  justify-content: flex-end!important;
}
/* input::placeholder{
  color: white !important;
} */
.col-span-3 {
  grid-column: span 3 / span 3;
}
@media (min-width: 1024px){
.lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
}
@media (min-width: 1024px){
.lg\:grid {
    display: grid;
}}
.gap-x-10 {
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.w-screen {
  width: 100vw;
}
.mt-40-top {
  margin-top: 10rem;
}

@media (min-width: 1024px)
{.lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
}}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.mt-20-top {
  margin-top: 5rem !important;
}
.mb-20-bottom{
  margin-bottom: 5rem !important;
}
.w-2\/5 {
  width: 40%;
}
.justify-end{
  justify-content: flex-end;
}
button{
  background-color: transparent ;
  border: 0px solid transparent ;
}
button:focus{
  border: 0px solid transparent !important;
}
.justify-between{
  justify-content: space-between;
}
.justify-evenly{
  justify-content: space-evenly;
}
.w-1\/5 {
  width: 20%;
}
.w-3\/4 {
  width: 75%;
}
.popup-membership-content{
  background-color: #2b2b2b;
  border-radius: 0.5rem;
}
.freez:hover{
  color: #009fe3 !important;
}
.text-2xl {
  font-size: 1.5rem;
}
@media (min-width: 1024px)
{.lg\:text-2xl {
    font-size: 1.5rem;
}}
@media (min-width: 768px)
{.md\:text-2xl {
    font-size: 1.5rem;
}}

.book-button p{
  color: #009Fe3;
}
.book-button:disabled p{
  color: darkgrey;
}
.items-start{
  align-items: start;
}
.border-in{
  border: 1px solid #009FE3;
}
.logouts{
  border: 2px solid #009FE3 !important;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.w-40 {
  width: 10rem;
}
.h-40 {
  height: 10rem;
}
.menu-member {
  background-color: #2B2B2B !important;
  font-size: 14px;
  padding: 8px;
  width: 250px;
}
.btn-bookClass:disabled {
  background: rgb(0, 159, 227, 0.5);
  color: rgb(255, 255, 255, 0.5);
}.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.bg-black{
  background-color: black;
}
.dateInput{
  border: 0px solid transparent;
}
.inputChange{
  border: 0px solid transparent;
}
.text-6xl{
  font-size: 4rem;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.border-full{
  border: 1px solid rgb(0 159 227);
}
@media (min-width: 1024px)
{.lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}}
@media (min-width: 1024px)
{.lg\:grid {
    display: grid;
}}
.h-full{
  height: 100%;
}
.gap-y-10 {
    row-gap: 2.5rem;
}
.border-2 {
  border-width: 2px;
}
.rounded-full {
  border-radius: 9999px;
}
.cursor-pointer {
  cursor: pointer;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
@media (min-width: 1024px)
{.lg\:h-10 {
  height: 2.5rem;
}}
@media (min-width: 1024px)
{.lg\:w-1\/3 {
    width: 33.333333%;
}}
@media (min-width: 768px)
{.md\:w-1\/3 {
    width: 33.333333%;
}}
.w-1\/2 {
  width: 50%;
}
.h-12 {
  height: 3rem;
}
.close-popup {
  outline: none;
  color: white;
  outline: none;
  position: absolute;
  z-index: 25;
  right: -0.5rem;
  top: -0.5rem;
  background-color: #009Fe3 !important;
  font-size: 26px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@media (min-width: 1024px)
{.lg\:w-3\/5 {
    width: 60%;
}}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
@media (min-width: 1024px)
{.lg\:text-4xl {
    font-size: 2.25rem;
}}
.text-3xl {
  font-size: 1.875rem;
}
.montserrat-book{
  font-family: "Montserrat Regular";
}
.border-r-blue {
  border-right: 1px solid rgb(0 159 227);
}
.hidden{
  display: none;
}
.border-r-white{
  border-right: 1px solid white;
}
.w-3\/5 {
  width: 60%;
}
.fontSize{
  font-size: 18px;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.text-lg {
  font-size: 1.125rem;
}
.arrow-membership {
  fill: #009FE3 !important;
}
.btn-nowrap {
  white-space: nowrap;
}
.cursor-pointer {
  cursor: pointer;
}
.active-button {
  background-color: rgba(0, 159, 227, 0.4);
}
.btnActive {
  margin-bottom: 1rem !important;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.rounded-md {
  border-radius: 0.375rem;
}
.w-20 {
  width: 5rem;
}
.h-20 {
  height: 5rem;
}
.items-center{
  align-items: center;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.montserrat-bold{
  font-family: "Montserrat Bold";
}
.membership-box {
  background-color: rgba(143, 143, 143, 0.1);
  border-radius: 5px;
  /* opacity: 0.1; */
}
.p-10 {
  padding: 2.5rem;
}
.mt-10-top{
  margin-top: 2.5rem !important;
}
.mb-20 {
  margin-bottom: 5rem;
}
.rbc-header+.rbc-header {
  border-left: 0px solid transparent !important;
}

.rbc-month-view {
  border: 0px solid !important;
}

.rbc-day-bg+.rbc-day-bg {
  border-left: 0px solid transparent !important;
}

.rbc-month-row+.rbc-month-row {
  border-top: 0px solid transparent !important;
}

.rbc-header {
  border-bottom: 0px solid transparent !important;
}

.rbc-toolbar-label {
  font-family: "Montserrat Bold" !important;
}

.rbc-toolbar button {
  color: white !important;
  border: 1px solid #009FE3 !important;
}

.rbc-toolbar button:hover {
  background-color: transparent !important;
}

.rbc-toolbar button:focus {
  background-color: transparent !important;
}

.rbc-month-view {
  background-color: rgba(143, 143, 143, 0.1) !important;
  border-radius: 5px !important;
  padding: 10px !important;
}

.rbc-month-header {
  margin-bottom: 2rem;
}

.rbc-off-range-bg {
  background: transparent !important;
}

.rbc-button-link {
  color: white !important;
}

.rbc-today {
  background: transparent !important;
  width: 50% !important;
  border-radius: 50px;
  height: 40% !important;
}

.rbc-date-cell.rbc-now {
  background: rgba(0, 159, 227, 0.8) !important;
  width: 50% !important;
  border-radius: 50px;
  height: 50% !important;
}

.rbc-toolbar .rbc-toolbar-label {
  text-align: unset !important;
}

.rbc-toolbar-label {
  color: white !important;
}

.rbc-row rbc-month-header {
  color: white !important;
}

.rbc-btn-group {
  color: white !important;
}

.rbc-header {
  color: white !important;
  margin-bottom: 1rem;
}

.rbc-date-cell {
  text-align: center !important;
}

.rbc-toolbar {
  margin-bottom: 30px !important;
}

.rbc-month-header {
  border-bottom: 0.25px solid grey;
}
.popupModule-content{
  background-color: #000000;
  padding: 40px;
}
.tint-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent 45%, transparent 75%, rgba(0, 0, 0, 0.7));
}
.tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
@media (min-width:320px) and (max-width: 550px) {
  .memberbox{
    width: 100% !important;
  }
  .slick-track{
    gap: unset !important;
  }
  .slick-slide{
    width: 100% !important;
  }
  .popupModuleMob-content{
    padding: 15px !important;
  }
  .closePop{
    right: 1rem !important;
  }
  .freetryoutsubtitle{
    font-size: 14px !important;
  }
  .mobiletitlePop{
    font-size: 21px !important;
  }
  .clubsTitle{
    left: 4rem !important;
    letter-spacing: 5px !important;
  }
  .clubssubTitle{
    top: 9rem !important;
    left: 4.5rem !important;
  }
  .mobileWidthCont{
    width: unset !important;
  }
  .viewClub{
    font-size: 17px !important;
  }
  .mobileImgWidth{
    width: 100% !important;
    object-fit: cover !important;
  }
  .banner-title{
    font-size:36px !important;
  }
  .bannerTitleContainer{
    top: 30% !important;
    left: 1rem !important;
    right: 7rem !important;
  }
  .bannerDescription{
    right: 1rem !important;
  }
  .mobileFlex{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .loginMobileHidden{
    display: none;
  }
  .block-sec .testim-box{
    margin-right: 0px !important;
  }
  .peopleTitle{
    font-size: 18px !important;
    top: 0.5rem !important;
    letter-spacing: 5px !important;
    gap: 10px !important;
  }
  .circleShape{
    width: 40% !important;
  }
  .absolute-component p{
    font-size: 22px !important;
    left: 35% !important;
  }
  .contactYellowImg{
    height: 35% !important;
    width: 40%;
  }
  .work-carousel .swiper-slide{
    padding: 0px !important;
  }
  /* .swiper-wrapper{
    width: 90vw !important;
  } */
  .mobileRow{
    margin-left: unset !important;
    margin-right: unset !important;
  }
  .gxTitle{
    font-size: 32px !important;
    letter-spacing: 0px !important;
  }
  .gxBrief{
    font-size: 18px !important;
    width: 90% !important;
  }
  .caption{
    top: 2rem !important;
    left: 2rem !important;
  }
  .titleBranch{
    font-size: 28px !important;
  }
  .subscribe{
    font-size: 18px !important;
  }
  .InputWidth{width: 100% !important;}
  .section-padding{
    padding: 80px 0px !important;
  }
  .mobileTimeline{
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .timelineSection{
    padding-left: 15px;
    padding-right: 15px;
  }
  .serviceBox{
    padding-bottom: 2rem;
  }
  .testimonials .item{
    padding: 0px !important;
  }
  .testimonials .arrows .next, .testimonials .arrows .prev{
    right: 10px !important;
  }
  .testimonials .arrows .prev{
    left: 10px !important;
  }
  .slick-slide .pt-images{
    padding-left: 50px;
    padding-right: 50px;
  }
  .demiCircle{
    height: unset !important;
  }
  .barImage{
    height: unset !important;
  }
  .vid-area{
    transform: translate(10px, 20%) !important;
  }
  .blogTitle{
    font-size: 26px !important;
  }
  .rowGap{
    gap: 15px;
  }
  .sectionPadding{
    padding-left: 15px;
    padding-right: 15px;
  }
  .submitPopup{
    width: 50% !important;
  }
  .membershipTitle{
    text-align: center !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .membershipTitle p{
    letter-spacing: 8px !important;
  }
  .diagonal-button-container{
    margin-top: 1rem !important;
  }
  .contact_block{
    padding-bottom: 1rem;
  }
  .booksession{
    margin-top: 2rem;
  }
  .booksession p{
    font-size: 16px !important;
  }
  .gapMob{
    gap: 10px !important;
  }
  .textPT{
    width: 100% !important;
    padding-left: 0px !important;
  }
  .stylepadding{
    padding-top: 80px !important;
  }
  .imgHeight{
    height: 80px !important;
  }
  .flexCenter{
    align-items: center;
    margin-top: 2rem !important;
  }
  .spacing{
    margin-bottom: 1rem;
  }
  .map-border {
    width: 92vw !important;
    margin-top: 2rem !important;
  }
  .cont{
    margin-top: 2rem;
  }
  .class-padding{
    padding-bottom: 80px;
  }
  .img-class{
    width: 100% !important;
    object-fit: cover;
  }
  .imgFullSize{
    height: 50vh !important;
    object-fit: cover;
  }
  .textSizeClass{
    font-size: 36px !important;
  }
  .popup{
    margin: 0px !important;
    padding: 10px 15px !important;
  }
  .popmobClose{
    width: 25px !important;
    height: 25px !important;
  }
  .textAlign{
    text-align: unset !important;
  }
  .testimonials p{
    font-size: 14px !important;
  }
  .selectedTrainerName{
    font-size: 21px !important;
  }
  .membership-box {
    width: 45% ;
  }
  .popuptop{
    margin-top: 1.5rem;}
    /* .dropdown-toggle::after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      margin-bottom: -0.25rem !important;
      border-top: 0.75em solid !important;
      border-right: 0.75em solid transparent !important;
      border-bottom: 0;
      border-left: 0.75em solid transparent !important;
  } */
  .mtmobile{
    margin-top: 5rem !important;
  }
  .mobilepaddingfreez{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .popup-membership-content{
    margin: 15px !important;
  }
  .qual{
    margin-top: 1rem !important;
  }
  .boxes{
    padding: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    margin-top: 3rem;
  }
  .showDesktop{
    flex-wrap: wrap;
  }
  .wrapContent{
    gap: 10px;
  }
  .border-in{
    height: 2.5rem !important;
  }
  .mobileTop{
    width: 100%;
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0 * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0 * calc(1 - var(--tw-space-x-reverse))) !important;
  }
  .mt-40-top{
    margin-top: 5rem ;
  }
  .mobile-flex-col{
    flex-direction: column;
    gap: 20px;
  }
  .flexstart{
    align-items: start;
  }
  .flexWrap{
    flex-wrap: wrap;
    gap: 10px;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image{
    height: 70vh !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  .closeGallery{
    right: -2.5rem !important;
    width: 25px !important;
    height: 25px !important;
  }
  .closeVideo{
    top: -3rem !important;
    right: 1rem !important;
    width: 25px !important;
    height: 25px !important;
  }
  .banner-subtitle{
    font-size: 26px !important;
  }
  .img_start h6{
    font-size: 26px !important;
  }
  .portfolio .filtering button{
    margin: 0 14px !important;
  }
  .popupMobile-content{
    left: 0px !important;
    /* margin-top: 11rem !important; */
  }
  .modalvideo{
    height: 100% !important;
  }
  .new-logo{
    width: 85px !important;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .new-logo-logo{
    width: 190px !important;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .image-gallery-left-nav{
    left: -2rem !important;
  }
  .image-gallery-right-nav{
    right: -2rem !important;
  }
  .on-tabs {
    height: 0.85rem!important;
    width: 2rem;
}
.webhidden{
  display: block !important;
}
}
.webhidden{
  display: none;
}