.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
  overflow: hidden;
}
.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}
.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}
.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}
.topnav .menu-icon {
  display: flex;
}
@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}
section.next-prog {
  overflow: hidden;
}
.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}
section.team.section-padding {
  overflow: hidden;
}
.swiper-pagination-bullet{
  background-color: white !important;
  opacity: 0.7 
  !important;
}
.swiper-wrapper{
  padding-bottom: 2rem !important;
}
.absolute-component {
  position: relative;
}

.absolute-component img {
  display: block; /* Ensure the image is a block element */
  max-width: 100%; /* Make sure the image doesn't exceed its container */
}

.absolute-component p {
  position: absolute;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 10px;
  color: white;
  top: 50%; 
  left: 16%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.belief-component {
  position: relative;
}

.belief-component img {
  display: block; /* Ensure the image is a block element */
  max-width: 100%; /* Make sure the image doesn't exceed its container */
}

.belief-component p {
  position: absolute;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 2px;
  color: white;
  top: 50%; 
  left: 38%;
  transform: translate(-50%, -50%);
  padding: 10px;
}



/* added Code */

/* ------------------------------------------- Menu - Default - Menu(MainMenu) - MegaMenu - MenuBanner - Tips - MobileMenu - MobileMenuWrapper - MobileMenuContainer - MobileMenu - MobileMenuOverlay - MobileMenuCloseButton - CategoryMenu ------------------------------------------- */
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  display: inline-block;
}
.menu .menu-title {
  margin-bottom: 1rem;
}
.menu li {
  position: relative;
}
.menu li a {
  padding: 0.7rem 0 0.7rem 1rem;
}
.menu li > ul, .menu li .megamenu {
  position: absolute;
  top: -9999px;
  left: 100%;
  margin: 0;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, -10px, 0);
}
.menu li > ul {
  min-width: 22.6rem;
}
.menu li > ul li {
  padding: 0 2rem;
}
.menu li:hover > ul, .menu .show > ul, .menu li:hover .megamenu, .menu .show .megamenu {
  visibility: visible;
  opacity: 1;
  top: -2rem;
  transform: translate3d(0, 0, 0);
}
.menu > li:last-child {
  margin-right: 0;
}
.menu > li > a {
  position: relative;
}
.menu > li > a::after {
  margin-left: 0.8rem;
}
.menu > li > ul, .menu > li .megamenu {
  left: -1.9rem;
}
.menu > li:hover > ul, .menu > li.show > ul, .menu > li:hover .megamenu, .menu > li.show .megamenu {
  top: 100%;
  z-index: 1201;
}
.menu .submenu > a {
  position: relative;
  display: block;
}
.menu > .submenu > a {
  z-index: 1001;
}
.menu > .submenu > a::after {
  position: static;
  content: '\f078';
  margin-top: 0;
}
.menu.no-arrow > li > a::after {
  content: none;
}
.submenu > a::after {
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  right: 0.5rem;
  top: 50%;
  line-height: 0;
  vertical-align: middle;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 1.1rem;
  color: inherit;
  content: '\f054';
}
.vertical-menu {
  display: block;
  min-width: 12rem;
}
.vertical-menu > li {
  margin-right: 0;
  padding: 0 2rem;
}
.vertical-menu > li > ul, .vertical-menu > li .megamenu {
  transform: translate3d(-15px, 0, 0);
}
.vertical-menu > li > a {
  display: inline-block;
}
.vertical-menu > li > a::after {
  content: none;
}
.vertical-menu > li:hover > ul, .vertical-menu > li.show > ul, .vertical-menu > li:hover .megamenu, .vertical-menu > li.show .megamenu {
  left: 100%;
  top: -1rem;
}
.vertical-menu > .submenu::after {
  border: 11px solid transparent;
  border-right: 11px solid #fff;
}
.vertical-menu > .submenu:hover::after, .vertical-menu > .submenu.show::after {
  top: 50%;
  left: calc(100% - 20px);
  transform: translate3d(0, -50%, 0);
}
.vertical-menu > .submenu > a::after {
  position: absolute;
  line-height: 0;
  content: '\f054';
}
.vertical-menu.no-arrow > li {
  display: flex;
}
.vertical-menu.no-arrow > li > a::after {
  content: none;
}
.toggle-menu {
  display: block;
}
.toggle-menu > li {
  margin-right: 0;
}
.toggle-menu .submenu::after, .toggle-menu .submenu > a::after {
  content: none;
}
.toggle-menu .submenu li {
  padding: 0 0.5rem;
}
.toggle-menu li > ul {
  display: none;
  position: static;
  visibility: visible;
  opacity: 1;
  transform: none;
  background: transparent;
  box-shadow: none;
}
.toggle-btn {
  display: block;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}
.toggle-btn:not(.parse-content) {
  position: absolute;
}
.toggle-btn:not(.parse-content)::before {
  content: "\f054";
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
  line-height: 1;
  transition: transform 0.5s;
}
.toggle-btn.expanded:not(.parse-content)::before {
  transform: rotate(630deg);
}
.toggle-btn.collapsed:not(.parse-content)::before {
  transform: rotate(0deg);
}
.toggle-btn.expanding:not(.parse-content)::before {
  transform: rotate(630deg);
}
.menu-active-underline > li > a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  border: 1px solid;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.menu-active-underline > li.active > a, .menu-active-underline > li:hover > a {
  color: inherit;
}
.menu-active-underline > li.active > a::before, .menu-active-underline > li:hover > a::before {
  transform-origin: left center;
  transform: scale(1, 1);
}
.megamenu {
  display: flex;
}
.megamenu ul {
  padding: 0;
}
.megamenu .row {
  flex: 1;
  padding: 0 1rem;
}
.megamenu .row > * {
  padding: 1.8rem 1rem 0.8rem;
}
.megamenu .menu-banner {
  padding: 0;
  overflow: hidden;
}
.megamenu .menu-banner figure {
  height: 100%;
}
.megamenu .menu-banner img {
  height: 100%;
  object-fit: cover;
}
.megamenu .menu-banner .btn-link:hover {
  color: red;
}
.menu-banner1 .banner-content {
  left: 9%;
}
.menu-banner1 .banner-title, .menu-banner1 .banner-subtitle {
  font-size: 3.6rem;
}
.menu-banner1 .banner-subtitle {
  margin-bottom: 0.4rem;
}
.menu-banner1 .banner-title {
  margin-bottom: 1.8rem;
  padding-left: 1.2rem;
  position: relative;
}
.menu-banner1 .banner-title span {
  display: inline-block;
  position: absolute;
  left: -0.9rem;
  top: 50%;
  font-size: 1.2rem;
  line-height: 1;
  transform: rotateZ(-90deg) translateX(0.6rem);
  letter-spacing: -0.1em;
}
.menu-banner2 .banner-content {
  bottom: 10%;
}
.menu-banner2 .banner-title {
  margin-bottom: 0.6rem;
  font-size: 2.6rem;
}
.menu-banner2 .banner-subtitle {
  font-size: 1.6rem;
}
.tip {
  display: inline-block;
  position: relative;
  top: -1px;
  left: 7px;
}
.mobile-menu-wrapper {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  transition: visibility 0.4s;
}
.mobile-menu-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 1px 0 5px rgba(0, 0, 0, .5);
  transform: translateX(-get(mobile-menu, container, max-width));
  transition: transform 0.4s;
}
.mobile-menu-container .input-wrapper {
  display: flex;
  margin-bottom: 0.6rem;
  height: 4rem;
}
.mobile-menu-container .input-wrapper .form-control {
  min-height: 4rem;
  color: #7a8088;
  border: 1px solid;
  border-right: 0;
  background-color: transparent;
}
.mobile-menu-container .input-wrapper .btn-search {
  padding: 0;
  width: 4rem;
  background-color: red;
  border-color: red;
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3px;
}
.mobile-menu-container .input-wrapper .btn-search i {
  margin: 0 0 0.5rem;
  font-size: inherit;
}
.mobile-menu-container .mobile-menu {
  margin-bottom: 0.5rem;
}
.mobile-menu-container .tab {
  margin-top: 3rem;
}
.mobile-menu-container .tab-content {
  background-color: transparent;
}
.mobile-menu-container .nav {
  border-width: 2px;
}
.mobile-menu-container .nav-link {
  margin-bottom: -2px;
  color: #fff;
  font-size: 13px;
  padding: 10px;
}
.mobile-menu-container .tab-pane {
  padding-top: 10px;
}
.mobile-menu-container .nav-item:hover .nav-link {
  color: #fff;
  border-color: transparent;
}
.mobile-menu-container .nav-item.show .nav-link, .mobile-menu-container .nav-item .nav-link.active {
  color: red;
  border-color: red;
}
.mobile-menu-container .nav-item + .nav-item {
  margin-left: 1px;
}
.mobile-menu-container.scrollable::-webkit-scrollbar-thumb, .mobile-menu-container .sidebar-content::-webkit-scrollbar-thumb {
  margin-right: 2px;
  background: rgba(255, 255, 255, .1);
  border-radius: 7px;
  cursor: pointer;
}
.mobile-menu {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
.mobile-menu ul {
  width: 100%;
  overflow: hidden;
}
.mobile-menu > li:first-child {
  padding-top: 0.5rem;
}
.mobile-menu > li:last-child {
  padding-bottom: 0.5rem;
}
.mobile-menu li a {
  display: block;
  position: relative;
}
.mobile-menu li i {
  display: inline-block;
  margin-bottom: 1px;
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 0;
  vertical-align: middle;
}
.mobile-menu li li a {
  padding-left: 2.4rem;
}
.mobile-menu li li li a {
  padding-left: 3.6rem;
}
.mobile-menu li:not(:last-child) {
  border-bottom: 1px solid #2e3237;
}
.mobile-menu-title {
  margin-bottom: 0.5rem;
}
.mobile-menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.4s;
}
.mobile-menu-close {
  position: fixed;
  left: calc(100vw - 50px);
  top: 25px;
  z-index: 10001;
  transition: opacity 0.3s;
  opacity: 0;
}
.mobile-menu-close i {
  font-size: 2.8rem;
  color: #e1e1e1;
}
.mmenu-anim {
  transform: translateY(30%);
}
.mmenu-anim, .mmenu-anim > li {
  transition: transform 0.4s, opacity 0.3s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
}
.mmenu-anim > li:nth-child(0) {
  opacity: 0;
  transform: translateY(0px);
}
.mmenu-anim > li:nth-child(1) {
  opacity: 0;
  transform: translateY(50px);
}
.mmenu-anim > li:nth-child(2) {
  opacity: 0;
  transform: translateY(100px);
}
.mmenu-anim > li:nth-child(3) {
  opacity: 0;
  transform: translateY(150px);
}
.mmenu-anim > li:nth-child(4) {
  opacity: 0;
  transform: translateY(200px);
}
.mmenu-anim > li:nth-child(5) {
  opacity: 0;
  transform: translateY(250px);
}
.mmenu-anim > li:nth-child(6) {
  opacity: 0;
  transform: translateY(300px);
}
.mmenu-anim > li:nth-child(7) {
  opacity: 0;
  transform: translateY(350px);
}
.mmenu-anim > li:nth-child(8) {
  opacity: 0;
  transform: translateY(400px);
}
.mmenu-anim > li:nth-child(9) {
  opacity: 0;
  transform: translateY(450px);
}
.mmenu-anim > li:nth-child(10) {
  opacity: 0;
  transform: translateY(500px);
}
.mmenu-anim > li:nth-child(11) {
  opacity: 0;
  transform: translateY(550px);
}
.mmenu-anim > li:nth-child(12) {
  opacity: 0;
  transform: translateY(600px);
}
.mmenu-active {
  overflow: hidden;
}
.mmenu-active .mmenu-anim > li, .mmenu-active .mmenu-anim {
  opacity: 1;
  transform: translateY(0);
}
.mmenu-active .page-wrapper {
  margin-left: get(mobile-menu, container, max-width);
  margin-right: -get(mobile-menu, container, max-width) - get(base, page-wrapper, margin-left);
}
.mmenu-active .mobile-menu-wrapper {
  visibility: visible;
}
.mmenu-active .mobile-menu-container {
  transform: translateX(0);
}
.mmenu-active .mobile-menu-close {
  opacity: 1;
}
.category-menu .menu-body:last-child li:last-child {
  border: 0;
}
.category-menu i {
  vertical-align: middle;
  line-height: 0;
}
.category-menu > li > a {
  display: block;
}
.category-menu li:hover > a:not(.menu-title) i {
  color: inherit;
}
.category-menu .submenu > a::after {
  font-size: 1rem;
}
.category-menu .submenu .megamenu {
  min-width: 68.5rem;
  padding: 0 0 0 0.9rem;
}
.category-menu .submenu .megamenu > li {
  padding: 0 1rem;
  flex: 1;
}
.category-menu .submenu .megamenu > li:last-child {
  padding-right: 0;
  flex: none;
}
.category-menu .submenu .megamenu .menu-title {
  padding: 2.7rem 0rem 0.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}
.category-menu .submenu .megamenu .divider {
  height: 1px;
  width: 100%;
  margin: 0;
}
.category-menu .submenu .megamenu ul {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  font-size: 1.3rem;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
  min-width: auto;
  z-index: auto;
  transform: none;
}
.category-menu .submenu .megamenu ul li {
  padding: 0;
  line-height: 1.2;
}
.category-menu .submenu .megamenu ul li a {
  padding: 0.7rem 0;
}
.category-menu .submenu .megamenu .menu-banner .banner-content {
  left: 3rem;
}
.category-menu .submenu .megamenu .menu-banner .banner-subtitle {
  font-size: 1.4rem;
}
.category-menu .submenu .megamenu .menu-banner .banner-title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}
.category-menu .submenu .megamenu .menu-banner .btn-md {
  padding: 0.7em 1.41em 0.7em 1.41em;
}
.category-menu .submenu .megamenu .menu-banner5 .banner-content {
  top: 2.6rem;
}
.category-menu .submenu .megamenu .menu-banner5 .banner-subtitle {
  margin-bottom: 1.1rem;
}
.category-menu .submenu .megamenu .menu-banner5 .banner-title {
  line-height: 1.25;
}
.category-menu .submenu .megamenu.type2 {
  display: block;
  min-width: 88rem;
  padding: 0 1rem 2rem;
}
.category-menu .submenu .megamenu.type2 .menu-title {
  padding-top: 1.5rem;
}
.category-menu .submenu .megamenu.type2 figure {
  text-align: center;
}

ul.metismenu-container:first-child {
  display: flex;
}
