@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-BlackItalic.woff2') format('woff2'),
        url('BommerSlab-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-Black.woff2') format('woff2'),
        url('BommerSlab-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-BoldItalic.woff2') format('woff2'),
        url('BommerSlab-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-Bold.woff2') format('woff2'),
        url('BommerSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-LightItalic.woff2') format('woff2'),
        url('BommerSlab-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-Regular.woff2') format('woff2'),
        url('BommerSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-Light.woff2') format('woff2'),
        url('BommerSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-ExtraBold.woff2') format('woff2'),
        url('BommerSlab-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-ExtraBoldItalic.woff2') format('woff2'),
        url('BommerSlab-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-Thin.woff2') format('woff2'),
        url('BommerSlab-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-SemiBoldItalic.woff2') format('woff2'),
        url('BommerSlab-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-RegularItalic.woff2') format('woff2'),
        url('BommerSlab-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-SemiBold.woff2') format('woff2'),
        url('BommerSlab-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bommer Slab';
    src: url('BommerSlab-ThinItalic.woff2') format('woff2'),
        url('BommerSlab-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

