.container {
  display: flex;
}

/* .image1 {
  height: 100%;
} */
.classNameParagraph{
  position: absolute;
  top: 24rem;
}
.image1 {
  transition:transform 0.25s ease;
}

.image1:hover {
  -webkit-transform:scale(1.5);
  transform:scale(1.5);
}